#skill {
  width: 100%;
  background: url(../img/skill_bg_sp@2x.jpg) no-repeat center center;
  background-size: cover;
  .skill-txt {
    width: 211px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;
    &-top {
      writing-mode: vertical-rl;
      width: 211px;
      height: 260px;
      padding-bottom: 18px;
      border-bottom: 1px solid #fff;
      margin-bottom: 18px;
    }
    &-bottom {
      writing-mode: vertical-rl;
      height: 260px;
    }
    .design {
      margin-right: 1.9em;
    }
    li {
      margin-top: 2em;
    }
    p {
      height: 260px;
    }
  }
}

@media screen and (min-width:768px) {
  #skill {
    background: url(../img/skill_bg@2x.jpg);
    background-size: cover;
    .skill-txt {
      width: auto;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      flex-wrap: wrap;
      &-top {
        border-bottom: none;
        width: auto;
        margin-left: 60px;
      }
    }
  }
}
