#work {
  margin-bottom: 48px;
  .work-slide {
    position: relative;
    list-style-type: none;
    width: 248px;
    margin: 55px auto 0;
    li {
      width: 248px;
      padding: 10px;
      border: 1px solid #fff;
      margin: 0 20px;
      &:nth-child(1) {
        a {
          display: block;
          background: url(../../img/work_img1@2x.jpg) no-repeat center center;
        }
      }
    }
  }
}

@media screen and (min-width:768) {
  #work {
    .work-slide {
      width: auto;
    }
  }
}
