#work {
  //  display: none;
  writing-mode: vertical-rl;
  position: absolute;
  top: 1550px;
  right: 0;
  padding: 70px 0 50px 0;
  .work-slide {
    position: relative;
    list-style-type: none;
    width: 248px;
    margin: 55px auto 0;
    li {
      width: 248px;
      padding: 10px;
      border: 1px solid #fff;
      margin: 0 20px;
      &:nth-child(1) {
        a {
          display: block;
          background: url(../../img/work_img1@2x.jpg) no-repeat center center;
        }
      }
    }
  }
}
