  %cf {
    &::after {
      content: "";
      clear: both;
      display: block;
    }
  }
  
  @mixin rem($base:14) {
    font-size: $base+px;
    font-size: ($base/10)+rem;
  }
  
  #wrapper {
    height: 100%;
    width: 100%;
  }
  
  .inner {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    position: relative;
    padding: 70px 0 50px 0;
  }
  
  .container {
    margin: 0 auto;
    padding: 50px 0 1px;
  }
  
  @media screen and (min-width:768px) {
    .inner {
      padding: 120px 15px 140px;
    }
  }
  
  @media screen and (min-width:1000px) {
    .inner {
      padding: 120px 0 140px;
    }
  }
  
  $size-max: 1000px;
  $color-base: #1b1b1b;
  $color-txt: #fff;
  $color-hover: #797979;
  $lh-title: 1;
  $lh-txt: 1.9;
  $ls-txt: 0.2em;
  @import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
  @import url('https://fonts.googleapis.com/earlyaccess/sawarabigothic.css');
  $font-jp: "游明朝 light",
  "ヒラギノ明朝 ProN W3",
  "Hiragino Mincho ProN",
  "ＭＳ Ｐ明朝",
  "MS PMincho",
  "Noto Sans Japanese light",
  Sans-Serif;
  @import url('https://fonts.googleapis.com/css?family=Montserrat:200');
  $font-en: 'Montserrat',
  sans-serif;
