.title {
  writing-mode: vertical-rl;
  width: 15%;
  letter-spacing: 0.2em;
  @include rem(30);
  font-family: $font-en;
  .title-jp {
    line-height: $lh-title;
    font-family: $font-jp;
    @include rem(14);
    letter-spacing: $ls-txt;
    padding-top: 20px;
  }
}
